<h1 class="text-3xl font-bold text-center my-8 pt-8">本サービスのご案内</h1>

<div class="flex justify-center items-center">
  <div class="w-full max-w-4xl bg-white text-xl text-center shadow-md p-6 rounded-md rounded-xl my-8">
  
    <h2 class="text-2xl font-bold my-4">アカウント作成なしでも以下からログインできます！</h2>

    <div class="my-4 flex justify-center">
      <%= link_to "ゲストユーザーとしてログイン", guest_login_path, data: { turbo_method: :post },
        class: "text-xl w-1/2 text-center py-3 px-4 bg-sky-600 text-white font-medium rounded-md shadow hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>

    <h2 class="text-2xl font-bold my-4">日々の飲食店選びをもっと便利に</h2>

    <p class="text-base text-left max-w-3xl mx-auto my-4">
      RestaurantChooserは登録済のお店一覧から条件を絞り込んで、お店の選択を自動で行うサービスです。
    </p>

    <h2 class="text-2xl font-bold my-4">お店の情報を登録しよう</h2>

    <p class="text-base text-left max-w-3xl mx-auto my-4">
      行きつけ・好きなお店の情報を登録します。店名や場所などの場所を入力します、Google Mapからお店を探してもOKです。
    </p>

    <%= image_tag 'img1.jpeg', class: "staticpage-image my-4 mx-auto" %>

    <h2 class="text-2xl font-bold my-4">お店を自動で選択しよう</h2>

    <p class="text-base text-left max-w-3xl mx-auto my-4">
      事前に登録したお店リストを元に絞り込みを行うと、お店を自動で選択してくれます。
    </p>

    <%= image_tag 'img2.jpeg', class: "staticpage-image my-4 mx-auto" %>

    <h2 class="text-2xl font-bold my-4">他のユーザーのポストやお店情報もどんどん検索しよう</h2>

    <p class="text-base text-left max-w-3xl mx-auto my-4">
      他のユーザーのポストや登録したお店は全て共有されます。リサーチをしてどんどん選択肢を広げましょう。
    </p>

    <%= image_tag 'img4.jpeg', class: "staticpage-image my-4 mx-auto" %>
    <%= image_tag 'img1.jpeg', class: "staticpage-image my-4 mx-auto" %>

    <h2 class="text-2xl font-bold my-4">お試しのログインはこちらから！</h2>

    <div class="my-4 flex justify-center">
      <%= link_to "ゲストユーザーとしてログイン", guest_login_path, data: { turbo_method: :post },
        class: "text-xl w-1/2 text-center py-3 px-4 bg-sky-600 text-white font-medium rounded-md shadow hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
    </div>

  </div>
</div>
