<h1 class="text-3xl font-bold text-center my-8 pt-8">お店を検索する</h1>

    <div class="flex justify-center items-center">
      <div class="w-full max-w-4xl bg-white shadow-md p-6 rounded-md rounded-xl my-8">    
      <%= form_with(url: restaurants_search_path, method: :get) do |f| %>
      
      <div>  
        <%= f.label :restaurant_name2, I18n.t("activerecord.attributes.restaurant.restaurant_name2"), class: "block font-medium text-gray-700 text-lg" %>
         <%= f.text_field :restaurant_name2, id: 'restaurant-name2', class: "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2" %>
       </div>
      
      <div>
        <% @prefecture = Area1.all %>
        <%= f.label :area1, I18n.t("activerecord.attributes.restaurant.area1_2"), class: "block font-medium text-gray-700 text-lg" %>
        <%= f.collection_select :area1, @prefecture, :id, :name, { include_blank: "", selected: params[:area1] }, { id: "prefectureSelect", class: "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2" } %>
      </div>

      <div>
        <% area2 = Area2.all %>
        <% @cities_json = area2.map { |o| o.attributes.symbolize_keys.select { |k, v| k.match(/(id|area1_id|city)\z/) } } %>
        <% @cities = Area2.where(area1_id: params[:area1]) %>
        <%= f.label :area2, I18n.t("activerecord.attributes.restaurant.area2"), class: "block font-medium text-gray-700 text-lg" %>
        <%= f.collection_select :area2, @cities, :id, :city, { include_blank: "", selected: params[:area2] }, { id: "citySelect", class: "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2", data: { json: @cities_json } } %>
      </div>

      <div>
        <% @timing = Timing.all %>
         <%= f.label :timing, I18n.t("activerecord.attributes.restaurant.timing"), class: "block font-medium text-gray-700 text-lg" %>
        <%= f.collection_select :timing, @timing, :id, :timing, { include_blank: "", selected: params[:timing] }, { id: "timigSelect", class: "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2" } %>
      </div>

      <div>
        <% @genre = Genre.all %>
         <%= f.label :genre, I18n.t("activerecord.attributes.restaurant.genre"), class: "block font-medium text-gray-700 text-lg" %>
        <%= f.collection_select :genre, @genre, :id, :genre, { include_blank: "", selected: params[:genre] }, { id: "genreSelect", class: "mt-1 block w-full border-2 border-gray-90 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 py-2 px-2" } %>
      </div>
      <%= f.submit "お店を検索", class: "text-xl w-full py-2 px-4 bg-sky-600 text-white my-4 font-medium rounded-md shadow hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
      <% end %>
      </div>
    </div>
   
    <% @restaurants.each do |restaurant|  %>
      <ol class="restaurants">
      <li id="restaurant-<%= restaurant.id %>" class="mb-4">
      <div class="bg-white shadow-md rounded-lg p-4 flex items-center space-x-4">
        <div class="restaurant-img flex-shrink-0">
        <% if restaurant.images.attached? %>
      <%= image_tag restaurant.images.first.variant(resize: "50x50^", gravity: "center", crop: "100x100+0+0"), class: "w-16 h-16 rounded-full object-cover" %>
    <% else %>
      <%= image_tag 'ディフォルト画像2.png', size: '50x50', class: "w-16 h-16 rounded-full object-cover" %>
    <% end %>
      
        </div>
        <div class="flex-grow flex flex-col justify-between">
        <!-- レストラン名 -->
        <div>
          <%= link_to restaurant.name, restaurant_path(restaurant), data: { turbo: false }, class: "text-lg font-bold text-blue-600 hover:underline" %>
        </div>
  
        <!-- ユーザー情報 -->
        <div class="restaurant-user flex items-center space-x-2 mt-2">
         <% @user = User.find_by(id:restaurant.user_id) %>
          <% if @user.image.attached? %>
            <%= image_tag @user.image.variant(resize: "30x30^", gravity: "center", crop: "100x100+0+0"), class: "w-8 h-8 rounded-full object-cover" %>
          <% end %>
          <span class="text-sm text-gray-700"><%= @user.name %></span>
        </div>
      </div>
  
      <!-- 詳細情報 -->
      <div class="flex flex-wrap gap-2 text-sm text-gray-500">
        <% area1 = Area1.find_by(id: restaurant.area1) %>
        <% area2 = Area2.find_by(id: restaurant.area2) %>
        <% timing = Timing.find_by(id: restaurant.timing) %>
        <% genre = Genre.find_by(id: restaurant.genre) %>
        <% details = [] %>
        <% details << "#" + area1.name if area1 %>
        <% details << "#" + area2.city if area2 %>
        <% details << "#" + timing.timing if timing %>
        <% details << "#" + genre.genre if genre %>
        
        <% details.each do |detail| %>
          <span class="px-2 py-1 bg-blue-100 rounded-lg text-blue-600">
            <%= detail %>
          </span>
        <% end %>
      </div>
    </div>
          
    </li>
      </ol>
        <%= will_paginate @restaurants %>
    <% end %>
  
  

