<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="form">

    <div class="restaurant-img">
      <% if @restaurant.image.attached? %>
        <%= image_tag @restaurant.image.variant( resize: "50x50^", gravity: "center", crop: "100x100+0+0" )  %>
      <% else %>
        <%=  image_tag 'ディフォルト画像2.png' ,:size =>'50x50' %>
      <% end %>
    </div>

    <div class="restaurant-upper-right">
      <div class="restaurant-name">
        <%= @restaurant.name %>
      </div>  
      <div class="restaurant-user">
        <% @user = User.find_by(id:@restaurant.user_id) %> 
        <%= image_tag @user.image.variant( resize: "30x30^", gravity: "center", crop: "100x100+0+0" ) if @user.image.attached? %>
        <span class="user"><%= @user.name %></span>
      </div>  
    </div> 

    <div class="resturant-coment">  
      <%= @restaurant.coment %>
    </div>

  
 
      <div class = "restrant-info">
        <% area1 = Area1.find_by(id:@restaurant.area1) %>
          <%= "#" + "#{area1.name}" %>
        <% area2 = Area2.find_by(id:@restaurant.area2) %>
        <% if area2  %>
        <%= "#" + "#{area2.city}" %>
        <% else %>
         <% " " %> 
        <% end %> 

        <% if @restaurant.genre  != ""  %>
          <%= "#" + "#{@restaurant.genre}" %>
        <% else %>
          <% " " %> 
        <% end %> 
        <% if @restaurant.time != "" %>
          <%= "#" + "#{@restaurant.time}" %>
        <% else %>
          <% " " %> 
        <% end %> 
      </div>
      
      <% if @restaurant.lat and @restaurant.lng %>
        <div id='map'>
        </div>
        <style>
        #map {
        height: 600px;
        width: 100%; 
        }
        </style>

      <% end %>
      <div class="restaurant-menu">
        <% if current_user?(@restaurant.user) %>
          <%= link_to "編集" , edit_restaurant_path(@restaurant) %>
          <%= link_to "削除", @restaurant, data: { "turbo-method": :delete,turbo_confirm: "本当に削除しますか？" } %>
        <% end %>
      </div>



    </div>
  </div>
</div>    

<script>

//初期マップの設定



document.addEventListener('turbo:load', function() {  

  let map
  let marker

  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @restaurant.lat %>, lng: <%= @restaurant.lng %>},
    map: map
  });

}) 

   
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_api_key %> &callback=initMap" async defer></script>
 